.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links_logo {
    margin-left: -25px;
}

.navbar-links_logo img {
    width: 220px;
    height: 75px;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 2rem;
}

.navbar-sign button{
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4920cc;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.home, .medicines, .doctors, .testimonials
{
    text-decoration: none;
    color: #ff7d04cc;
    letter-spacing: 2px;
}

a:hover 
{
    color: hotpink;
}